.qa {
    margin-bottom:10px;  
  }
  .qa input {
    display:none;
  }
  .qa label {
    display:block;
    height:30px;
    line-height:30px;
    font-weight:bold;
    text-transform:uppercase;
  }
  .qa label::after {
    content:"+";
    display:inline-block;
    height:30px;
    width:30px;
    background:#ccc;
    color:White;
    text-align:center;
    margin-right:10px;
  }
  .qa div {
    display:none;
    padding-top:5px;
  }
  .qa input:checked ~ label::after {
    content:"-";
    background:#3a4;
  }
  .qa input:checked ~ div {
    display:block;
  }

  .qa img{
      width: .5cm;
  }